@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body, html {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 28px;
  line-height: 30px;
  color: #889caf;
  background: white;
  padding-top: 100px;
}

h1, h2{
  text-align: center;
}

h2 {
  padding: 28px;
}

form {
  text-align: center;
  display: block;
  width: 100%;
  font-size: 2rem;
}

div {
  position: absolute;
  bottom:0;
  text-align: center;
  width: 100%;
}

#thankyou {
  text-align: center;
  padding: 200px;
}

#s {
  width: 20%;
  height: 40px;
  border: 1px solid black;
  margin: 0 auto;
  box-shadow: $shadow;
  padding: 10px;
  font-size: 20px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height:100px;
  width:275px;
}
